<div ng-controller="EventCtrl" ng-init='initialize({{toJson event}})'>

    <h2>{{event.name}}</h2>

    <p ng-bind="msg"></p>


    {{{event.qrImage}}}

    <h3>Users</h3>
    
    <ul>
        <li ng-repeat="user in event.participants track by $index" ng-bind="user">
        </li>
    </ul>
        
    {{!--<button ng-click="aanmelden('{{event.secret}}')" >Aanmdelen</button>--}}

</div>
