.flexed{
    display: flex;
}

.qr{
    margin-bottom:20px;
}

.badge-list .badge{
    margin:3px;
    font-size:120%;
    padding:4px 12px;
    background-color: #a33024;
}

.badge-list .badge-me{
    background-color: #5bc0de;
}

.ui-select-container{
    min-width: 400px;
    display: inline-block;
}

form .btn{
    vertical-align: top;
}

form.inline{
    display: flex;
}

form.inline .btn{
    min-width: 80px;
}

.badge.delete{
    cursor: pointer;
}

.badge.badge-success{
    background: #5cb85c;
}

.avatar-list{
    display:flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
}



.avatar{
    width:100px;
    display:inline-block;
    margin:30px;
    min-width: 100px;
}

.avatar img{
    border-radius: 50%;
    width:100%;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.avatar span{
    font-size:150%;
    max-height: 20px;
    display:inline-block;
}

/** SHOWCASE START **/
.showcase{
    padding:5%;
}

    .showcase h1{
        font-size:400%;
        color:white;
    }

    .showcase p{
        font-size:200%;
    }

    .showcase .nextBattle{
        position: absolute;
        bottom:5%; left:0;
        width: 100%;
    }

    .showcase .battle .vs{
        margin:50px;
        font-size:200%;
    }

    .showcase .battle{
        display:flex;
        align-items: center;
        justify-content: center;
        margin:5px;
    }

    .showcase .currentBattle .avatar{
        min-width:25%;
        width:210px;
    }

    .showcase .nextBattle .avatar{
        width:70px;
        min-width: 70px;
    }

    .showcase .nextBattle .battle .vs{
        margin:20px;
    }

    .showcase .avatar{
        margin:5px;
        margin-bottom:15px;
        transition: transofrm 1.5s;
        -webkit-transition: transform 1.5s; /* Safari */
    }

    .showcase .avatar.leave-left{
        -ms-transform: translate(-400%, 0); /* IE 9 */
        -webkit-transform: translate(-400%, 0); /* Safari */
        transform: translate(-400%, 0);
    }

    .showcase .avatar.leave-top{
        -ms-transform: translate(0, -500%); /* IE 9 */
        -webkit-transform: translate(0, -500%); /* Safari */
        transform: translate(0, -500%);
    }

    .showcase .avatar.leave-right{
        -ms-transform: translate(400%, 0); /* IE 9 */
        -webkit-transform: translate(400%, 0); /* Safari */
        transform: translate(400%, 0);
    }


/** SHOWCASE END **/

html {
  height: 100%;
}
body {
  min-height: 100%;
}

html{
    background-image: url(/images/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 0px;
    min-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

body{
    background: rgba(0, 0, 0, 0.45) url(/images/pattern.png) repeat;
    width: 100%;
    margin: 0px;
    min-height: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    box-sizing: border-box;
}


.stroke-red{
    text-shadow: 1px 1px 0 #c0392b,
    -1px 1px 0 #c0392b,
    1px -1px 0 #c0392b,
    -1px -1px 0 #c0392b,
    0px 1px 0 #c0392b,
    0px -1px 0 #c0392b,
    -1px 0px 0 #c0392b,
    1px 0px 0 #c0392b,
    2px 2px 0 #c0392b,
    -2px 2px 0 #c0392b,
    2px -2px 0 #c0392b,
    -2px -2px 0 #c0392b,
    0px 2px 0 #c0392b,
    0px -2px 0 #c0392b,
    -2px 0px 0 #c0392b,
    2px 0px 0 #c0392b,
    1px 2px 0 #c0392b,
    -1px 2px 0 #c0392b,
    1px -2px 0 #c0392b,
    -1px -2px 0 #c0392b,
    2px 1px 0 #c0392b,
    -2px 1px 0 #c0392b,
    2px -1px 0 #c0392b,
    -2px -1px 0 #c0392b;
}