.badge-list .badge{
    margin:3px;
    font-size:120%;
    padding:4px 12px;
    background-color: #a33024;
}

.badge-list .badge-me{
    background-color: #5bc0de;
}

.ui-select-container{
    min-width: 400px;
    display: inline-block;
}

form .btn{
    vertical-align: top;
}

form.inline{
    display: flex;
}

form.inline .btn{
    min-width: 80px;
}

.badge.delete{
    cursor: pointer;
}