<div ng-controller="PortalCtrl" >

<div class="row" ng-show="auth.user">

    <h2>Welcome {{auth.user.username}}</h2>

    <h4>My battles</h4>

    <div ng-show="!battles">
        <p>Loading battles...</p>
    </div>

    <div ng-show="battles">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Size</td>
                    <td>Event</td>
                    <td>participants</td>
                    <td>Status</td>
            </thead>
            <tbody>
                <tr ng-repeat="battle in battles track by $index">
                    <td>{{battle.participants.length}}</td>
                    <td>
                        {{battle.event.name ? battle.event.name : 'None'}}
                    </td>
                    <td class="badge-list">
                        <span class="badge badge-info" ng-repeat="user in battle.participants" ng-class="{'badge-me': user._id == auth.user._id }">
                            {{user.username}}
                        </span>
                    </td>               
                    <td>{{battle.status.text}}</td>
                </tr>
            </tbody>
        </table>
    </div>

     <button type="submit" class="btn btn-warning btn-lg" ng-click="logout()">Logout</button>
</div>
    
<div class="row" ng-show="!auth.user">
    <h2>Welcome to battletime</h2>

    <div class="col-sm-6" >

        <h1><span class="fa fa-sign-in"></span> Login</h1>

        <ul>
            <li class="text-danger" ng-repeat="error in login.errors">{{error}}</li>
        </ul>

        <!-- LOGIN FORM -->
        <form ng-submit="sendLogin()" method="post">
            <div class="form-group">
                <label>Email</label>
                <input required type="email" ng-model="login.email" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input required type="password"  ng-model="login.password" class="form-control" name="password">
            </div>

            <button type="submit" ng-disabled="!login.password  || !login.email"
                 class="btn btn-warning btn-lg">Login</button>
        </form>

        <hr>

    </div>

    <div class="col-sm-6" >

        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <ul>
            <li class="text-danger" ng-repeat="error in signup.errors">{{error}}</li>
        </ul>

        <!-- LOGIN FORM -->
        <form ng-submit="sendSignup()" method="post">
            <div class="form-group">
                <label>Username</label>
                <input required type="text" ng-model="signup.username" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input required type="text" ng-model="signup.email" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input required type="password" ng-model="signup.password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label>Password repeat</label>
                <input required type="password" ng-model="signup.repeat" class="form-control" name="repeat">
            </div>

            <button type="submit" ng-disabled="!signup.username || !signup.password  || !signup.email  || !signup.repeat"
                class="btn btn-warning btn-lg">Signup</button>
        </form>

        <hr>
    </div>
</div>

</div> 
