<div ng-controller="EventDetailsCtrl"> 
    
    <div ng-show="!event">
        Loading event...
    </div>    

    <div ng-show="event">

        <h2>{{event.name}}</h2>
        
        <div class="row">
            <div class="col-md-6">
                <h2>Details</h2>
                <div ng-bind-html="event.qrImage"></div>
            </div>
            <div class="col-md-6">

                <h2>Participants</h2>
                <h4>Add participant</h4>

                <form ng-submit="addParticipants(form.participants)" class="inline">
                    <ui-select  ng-model="form.participants" theme="bootstrap" multiple>
                        <ui-select-match placeholder="Select or search a person in the list..."> {{$item.username}}</ui-select-match>
                        <ui-select-choices repeat="item in users | filter: $select.search track by item._id">
                            <div ng-bind-html="item.username | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <input type="submit" class="btn btn-success btn-xs" value="Add">
                </form>

                <h4>All participants ({{event.participants.length}})</h4>
                <div class="badge-list">
                    <span class="badge badge-info delete" ng-repeat="user in event.participants" ng-click="removeParticipant(user)">{{user.username}}</span>   
                </div>

            </div><!-- end col-md-6 -->
        </div><!-- end row -->

        <h4>Generate battles</h4>

        <button class="btn btn-primary btn-lg" ng-click="generateBattles()">Generate battles</button>

        <h4>All Battles ({{event.battles.length}})</h4>

        <table class="table table-striped">
            <thead>
                <tr>
                    <td>size</td>
                    <td>participants</td>
            </thead>
            <tbody>
                <tr ng-repeat="battle in event.battles track by $index">
                    <td>{{battle.participants.length}}</td>
                    <td class="badge-list"><span class="badge badge-info" ng-repeat="user in battle.participants">{{user.username}}</span></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

