<div ng-controller="EventShowcaseCtrl" class="showcase"> 
    
    <div ng-show="!event">
        Loading event...
    </div>    

    <div ng-show="event" class="text-center">
        
        <div ng-show"event">
            <h1 class="stroke-red">{{event.name}}</h1>
        </div>

        <div ng-show="event.status.id == '0'">
            <p >This event is almost starting</p>

            <div class="promo-container showcase-content" ng-class="{ 'show-promo': showPromo}">
                <div class="avatar-list">
                    <div class="avatar" ng-repeat="user in event.participants">
                        <img ng-src="{{user.imageUri | image}}">
                        <span>{{user.username}}</span>
                    </div>   
                </div>
                <div class="promo row text-center">
                    <p>Download the new Battletime app!</p>
                    <p>Android only*</p> 
                    <img src="/images/promo.png">
                </div>
            </div>


            <div class="banner" class="nextBattle">
                <img src="/images/bashj.jpg">
                <div>
                    <p>
                        Want to join this battle event? <br>
                        Use the new <b>battletime app</b> and scan the QR code!
                    </p>
                </div>
                <div class="qr" ng-bind-html="event.qrImage"></div>
            </div>
  

      
        </div>

        
        <div ng-show="event.status.id == '2'">

            <p >The battle is over. Time to relax!</p>

            <div class="avatar-list">
                <div class="avatar" ng-repeat="user in event.participants">
                    <img ng-src="{{user.imageUri | image}}">
                    <span>{{user.username}}</span>
                </div>   
            </div>
        </div>

        <div ng-show="event.status.id == '1'">
            <p>It's battle time!</p>

            <div class="battle currentBattle" ng-show="currentBattle">
                <div class="battle">
                    <div class="avatar" ng-show="currentBattle.participants[0]" ng-class="{'leave-left': loadNextBattle}">
                        <img ng-src="{{currentBattle.participants[0].imageUri | image}}">
                        <span>{{currentBattle.participants[0].username}}</span>
                    </div>
                    <span class="stroke-red vs"  ng-show="currentBattle.participants[2]">V.S</span>
                    <div class="avatar" ng-show="currentBattle.participants[2]" ng-class="{'leave-top': loadNextBattle}">
                        <img ng-src="{{currentBattle.participants[2].imageUri | image}}">
                        <span>{{currentBattle.participants[2].username}}</span>
                    </div>
                    <span class="stroke-red vs">V.S</span>
                    <div class="avatar" ng-show="currentBattle.participants[1]" ng-class="{'leave-right': loadNextBattle}">
                        <img ng-src="{{currentBattle.participants[1].imageUri | image}}">
                        <span>{{currentBattle.participants[1].username}}</span>
                    </div>
                   
                </div>
            </div>
            <div class="currentBattle" ng-show="!currentBattle">
                <p>Battle starting soon!</p>
            </div>
         
            <div ng-show="nextBattle" class="nextBattle">
                 <p>Up next</p>
                <div class="battle">
                
                    <div class="avatar" ng-show="nextBattle.participants[0]">
                        <img ng-src="{{nextBattle.participants[0].imageUri | image}}">
                        <span>{{nextBattle.participants[0].username}}</span>
                    </div>
                    <span class="stroke-red vs">V.S</span>
                    <div class="avatar" ng-show="nextBattle.participants[1]">
                        <img ng-src="{{nextBattle.participants[1].imageUri | image}}">
                        <span>{{nextBattle.participants[1].username}}</span>
                    </div>
                    <span class="stroke-red vs"  ng-show="nextBattle.participants[2]">V.S</span>
                    <div class="avatar" ng-show="nextBattle.participants[2]">
                        <img ng-src="{{nextBattle.participants[2].imageUri | image}}">
                        <span>{{nextBattle.participants[2].username}}</span>
                    </div>
                </div>
            </div>
            <div class="currentBattle" ng-show="!nextBattle">
                <p>No more battles after this one</p>
            </div>
        
        </div>

    </div>

</div>

