<div ng-controller="EventShowcaseCtrl" class="showcase"> 
    
    <div ng-show="!event">
        Loading event...
    </div>    

    <div ng-show="event" class="text-center">
        
        <div ng-show"event">
            <h1 class="text-primary">{{event.name}}</h1>
        </div>

        <div ng-show="event.status.id == '0'">
            <p>This event is almost starting</p>

            <div class="avatar-list">
                <div class="avatar" ng-repeat="user in event.participants">
                    <img ng-src="{{user.imageUri | image}}">
                    <span>{{user.username}}</span>
                </div>   
            </div>



        </div>

        <div ng-show="event.status.id == '1'">
            <p>It's battle time!</p>
        </div>

    </div>

</div>

